<div class="container">
  <div class="row">
    <h3 class="my-4">ハムスターの食べ物についてQ&A</h3>
    <div class="col-5 mt-5">
      <%= form_with model: @food, _path, local:true do |f| %>
      <h4>メッセージ</h4>
      <%= f.text_area :food_content %>
      <%= f.submit '投稿' %>
      <% end %>
    </div>
    <div class="col-7 mt-5">
      <% @foods.all.each do |food| %>
        <div class="my-4">
          <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #555555; border-radius:10px; word-break:break-all;">
            <%= genre.food_content %>
          </div>
          <!--コメントしたuserのみ削除可能-->
          <% if food.user == current_user %>
            <%= link_to "削除する", _path, method: :delete, :class => "btn btn-outline-danger btn-sm", data: {confirm: "削除しますか？"} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>