<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>トークテーマ追加</h3>
        <%= form_with model:@genre, method: :post, local:true do |f| %>
          <h6>トークテーマ</h6>
          <%= f.text_field :name, :size=>"30×5" %>
          <div class="actions mt-2">
            <%= f.submit "追加", :class => "btn btn-outline-secondary" %>
          </div>
        <% end %>
    </div>
    <div class="col-8">
      <% @genres.each do |genre| %>
        <table class="Humtalk">
          <tr>
            <td>
              <%= link_to genre.name, genre_path(genre.id) %>
            </td>
            <td>
              <%= link_to "削除", genre_path(genre.id), method: :delete, :class => "btn btn-outline-danger", data: {confirm: "削除しますか？"} %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
