<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- form_with部分 -->
      <%= form_with model: @hum, local:true do |f| %>
        <%= f.label :"ハムスターの名前", class: "mr-5" %>
        <div class="form-group">
          <%= f.text_field :name, :size=>"30×5" %>
        </div>
        <%= f.label :"ハムスターの種類", class: "mr-5" %>
        <div class="form-group">
          <%= f.text_field :type, :size=>"30×5" %>
        </div>
        <%= f.label :"ハムスターの年齢", class: "mr-5" %>
        <div class="form-group">
          <%= f.text_field :age, :size=>"30×5" %>
        </div>
        <%= f.label :"ハムスターの名前", class: "mr-5" %>
        <div class="form-group">
          <%= f.text_area :character, :size=>"30×5" %>
        </div>
        <!--genderを選択式にする予定-->
        <%= f.label :"ハムスターの性別", class: "mr-5" %>
        <!--<div class="form-check">-->
        <!--  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">-->
        <!--  <label class="form-check-label" for="flexCheckDefault">-->
        <!--    男の子-->
        <!--  </label>-->
        <!--</div>-->
        <!--<div class="form-check">-->
        <!--  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>-->
        <!--  <label class="form-check-label" for="flexCheckChecked">-->
        <!--    女の子-->
        <!--  </label>-->
        <!--</div>-->
        <!--<div class="form-check">-->
        <!--  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">-->
        <!--  <label class="form-check-label" for="flexCheckDefault">-->
        <!--    不明-->
        <!--  </label>-->
        <!--</div>-->
        <div class="actions">
          <%= f.submit "追加", :class => "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>